
/* EZ ACCORDION MENU - Extra large font and high contrast colors */
#EZcontainer{
    width: 980px;
    height: auto;
    margin: 0 auto;
    display: block;
}
header {
    overflow:hidden;
}
#EZaccordion-hidden{
    padding-top: 15px;
}
#EZaccordion-hidden{
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -o-transition: max-height 1s;
    -ms-transition: max-height 1s;
}
#EZaccordion:hover #EZaccordion-hidden{
    max-height: 220px;
}
#EZaccordion, #EZaccordion a.menu, div #EZaccordion-hidden a{
    text-decoration: none;
    padding: 25px;
}
#EZaccordion{
    width: 100%;
    text-align: center;
    background-color:black;
    margin: 0 auto;
}
#EZaccordion a.menu{ 
    color: darkred;
    font-weight: bold;
    font-size: 3em;
}
div #EZaccordion-hidden a{
    color:white;
    font-weight: bold;
    font-size: 1em;
}
#EZaccordion-hidden{
    font-size: 3em;
}
#EZaccordion-hidden a:hover{
    color: greenyellow;
}
#EZaccordion a.menu {
    color:white;
}
#EZaccordion a.menu:hover{
    color:greenyellow;
}
i {
    border: solid white;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 15px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
/* ROLLOVER ZOOM */
figcaption{
    text-align: center;
    border: solid 1px greenyellow;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    background-color: darkslateblue;
    color: white;
    font-size: 2em;
    width: 30%;
    padding: 2px;
}
#rollover {
    width: 100%;
	min-height: 200px;
	width: 100%;
}
#rollover ul {
	margin:0;
    padding: 20px;
    overflow: hidden;
    list-style: none;  
}
#rollover ul li img{
    width:320px;
    padding: 10px 0;
}
#rollover ul li .zoom {
    -webkit-transition: all .2s ease-in-out; 
    -moz-transition: all .2s ease-in-out; 
    -o-transition: all .2s ease-in-out; 
    -ms-transition: all .2s ease-in-out; 
}
#rollover ul li .zoom:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
}

/* BUTTONS */
button {
    border-bottom: 4px solid silver;
    border-left: 3px solid silver;
    border-right: 3px solid silver;
    border-radius: 180px;
    background-color: red;
    box-shadow: 2px 2px 2px 2px grey;
    width: 80px;
    height: 80px;
    color:white;
}
button:hover {
   background-color: blueviolet;
}
button:active {
    background: green;
    width: 90px;
    height: 90px;
}
.EZbtn-lg{
    border-bottom: 7px solid silver;
    border-left: 4px solid silver;
    border-right: 4px solid silver;
    background: red;
    box-shadow: 3px 3px 3px 3px grey;
    width: 100px;
    height: 100px;
    color:white;
}
.EZbtn-lg:active {
    width:110px;
    height: 110px;
}
.EZbtn-sm{
    border-bottom: 3px solid silver;
    border-left: 2px solid silver;
    border-right: 2px solid silver;
    background: red;
    box-shadow: 1px 1px 1px 1px grey;
    width: 70px;
    height: 70px;
    color:white;
}
.EZbtn-sm:active {
    width:80px;
    height: 80px;
}
.EZbtn-xsm{
    border-bottom: 2px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    background: red;
    box-shadow: 1px 1px 1px 1px grey;
    width: 60px;
    height: 60px;
    color:white;
}
.EZbtn-xsm:active {
    width:70px;
    height: 70px;
}
input[type]{
    border: 5px solid green;
    width: 25%;
    height: auto;
    padding: 3%;
    background-color: white;
    border-radius: 90px;
}
input[type=button]{
    border: 5px solid red;
}
input[type]:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
input[type]:active{
    padding: 4%;
}
/* CAROUSEL */
.carousel{
  width:100%;
  height: auto;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;   
}
   
.panes{margin-top:-.3em;
    list-style:none;
    position:relative;
    width:600%; /* Number of panes * 100% */
    overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */
    animation: 35s linear infinite;
    animation-fill-mode: forwards;
            
-webkit-animation:carousel 35s infinite;
-moz-animation:carousel 35s infinite;
-o-animation:carousel 35s infinite;
-ms-animation:carousel 35s infinite;
    
}
.panes > li{
    position:relative;
    float:left;
    width:16.66%; /* 100 / number of panes */
    
}
.carousel img{
    display:block;
    width:95%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    padding-right:4em;
    max-width:100%;
    
}
.carousel ul p    
{text-align: center; line-height: 0;}
  
@-webkit-keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}
@-moz-keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}
@-o-keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}
@-ms-keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}

/* MEDIA QUERIES */
@media screen and (max-width:1024px) {

}

@media screen and (max-width:768px) {
.carousel img    {width:354px; height: auto;}
}

@media screen and (max-width:459px) {
.carousel   {visibility: hidden; height: 0;margin: 0;}
}