/*ESTELA css ZOOM by ID*/
 .zoomBtn {
            background-color: #0090CB;
            height: 30px;
            width: 30px;
			padding-bottom: 15px;
            display: inline-block;
            color: #fff;
            text-align: center;
            line-height: 50px;
            font-size: 25pt;
            cursor: pointer;
        }
 